<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full p-10 min-h-screen text-white bg-zinc-900 " >
        <a class="text-blue-500 inline-block mb-5 " href="/">Go Back</a>
        <form action="/edit" method="post" >
            <input class="block w-1/4 rounded-md px-5 outline-none py-2 bg-zinc-800 " value=<%= filename %> name="previous" type="text" placeholder="previous Name" >
            <input class="block w-1/4 rounded-md px-5 outline-none py-2 bg-zinc-800 mt-2 " name="new" type="text" placeholder="New Name" >
            <input class="mt-2 bg-yellow-700 px-5 py-2 rounded-md " type="submit" value="Update Title" >
        </form>
    </div>
</body>
</html>