<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen text-white bg-zinc-900 " >
        <div class="form p-10  text-white" >
            <form action="/create" method="post" >
                <input class="block w-full rounded-md px-5 outline-none py-2 bg-zinc-800 " name="title" type="text" placeholder="Title goes here" >
                <textarea class=" block w-full rounded-md outline-none px-5 mt-2 py-2 bg-zinc-800 resize-none" name="desc" placeholder="write your task detail here" ></textarea>
                <input class="mt-2 bg-blue-600 px-5 py-2 rounded-md " type="submit" value="Creare Task" >
            </form>
        </div>
        <div class="tasks p-10 flex flex-wrap  gap-3 " >
            <% if(files.length > 0){ %>
                <% files.forEach(function(val){ %>
                    <div class="task my-3  min-w-72 rounded-md px-3 py-4 bg-zinc-800 " >
                        <h1 class="text-white text-3xl tracking-tighter" > <%= val  %> </h1>
                        <a href="/file/<%= val %>" class="text-blue-500 inline-block inline-block mt-3 " >Read More</a>
                        <a class="text-blue-500 ml-5  " href="/edit/<%= val %>">Edit Filename </a>
                    </div>
              <%  }) %>
           <% } else { %>
            <h3>No Task yet</h3>
            <% } %>
        </div>
    </div>
</body>
</html>